<!DOCTYPE html> <!--この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">

    </head>

    <body>





        <div class="first-block">

        <h3>ね</h3>
        <h3>こ</h3>
        <h3>い</h3>
        <h3>る</h3>
        <h3>暮</h3>
        <h3>ら</h3>
        <h3>し</h3>
        </div>


        <div class="second-block">
        <h5>こころがつかれているあなたへ</h5>
        <p style="margin-bottom:1.5em;"></p>
       
        <p>仕事が大変、勉強いやだ、人間関係がうまくいかない、なんかもうイライラする！… </p>
        <p> 自分が気づかない間に、ストレスはたまっているものです。 </p>
        <p> そんなあなたを、目いっぱいいやすためのサイトを作りました。 </p>
        <p> まずはこころのストレス度をセルフチェックして、 </p>
        <p>それからかわいいねこちゃんたちにたくさん癒されてくださいね。 </p>
        <p> あなたがすこしでもハッピーになれますように。 </p>
       
        </div>
        
        
        <div class="third-block">
        <h5>こころのセルフチェック</h5>
        <div class="hajimeru">
        <%= link_to "はじめる", shindans_path, class: "link" %>
        </div>
        <div class="new-square"></div>
        </div>
        </div>
      
        </div>


        <div class="fourth-block">
        <h5>いやしてもらう</h5>
        <div class="hajimeru2">
        <%= link_to "はじめる", homes_path %>
        </div>
        <div class="new-square2"></div>
        </div>

        <div class="fifth-block">
        <h5></h5>
        </div>
  


       
        <footer>
        <p>Copyright © Nekogurashi All Rights Reserved.</p>
      </footer>
    </body>

