<div class="intoro">
     <h5>チェック結果</h5>
     <p>いまのあなたのストレス度は……</p>
</div>
<div class="tweet-container">
<div class="tweet">

    <% if @neko.question == "11111" %>
    <h6>100%</h6>
    <p>ストレス度マックス！</p>
    <p>疲れてるね。もっとマイペースに暮らしてもいいかも。ねこちゃんにたくさん褒められてね。</p>




    <% elsif @neko.question == "21111" %>
    <h6>80%</h6>
    <p>ストレス度高め！</p>
    <p>かなり疲れてるね。すきなもの食べてたくさん寝よう。すきなねこちゃん見ていやされてね</p>

    <% elsif @neko.question == "12111" %>
    <h6>80%</h6>
    <p>ストレス度高め！</p>
    <p>かなり疲れてるね。すきなもの食べてたくさん寝よう。すきなねこちゃん見ていやされてね</p>

    <% elsif @neko.question == "11211" %>
    <h6>80%</h6>
    <p>ストレス度高め！</p>
    <p>かなり疲れてるね。すきなもの食べてたくさん寝よう。すきなねこちゃん見ていやされてね</p>

    <% elsif @neko.question == "11121" %>
    <h6>80%</h6>
    <p>ストレス度高め！</p>
    <p>かなり疲れてるね。すきなもの食べてたくさん寝よう。すきなねこちゃん見ていやされてね</p>

    <% elsif @neko.question == "11112" %>
    <h6>80%</h6>
    <p>ストレス度高め！</p>
    <p>かなり疲れてるね。すきなもの食べてたくさん寝よう。すきなねこちゃん見ていやされてね</p>




    <% elsif @neko.question == "22111" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "21211" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "21121" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "21112" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "12211" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "12121" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "12112" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "11221" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "11212" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "11122" %>
    <h6>60%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>



    <% elsif @neko.question == "11222" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "12122" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "12212" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "12221" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "21122" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "21212" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "22112" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "22121" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>

    <% elsif @neko.question == "22211" %>
    <h6>40%</h6>
    <p>ちょっとストレスを感じてるかも！</p>
    <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>





    <% elsif @neko.question == "12222" %>
    <h6>20%</h6>
    <p>ストレス度は軽め！</p>
    <p>自分の調子は自分でとるプロ！でも適度に休んでね。ねこちゃんがもっと元気にさせてくれるかも！</p>

    <% elsif @neko.question == "21222" %>
    <h6>20%</h6>
    <p>ストレス度は軽め！</p>
    <p>自分の調子は自分でとるプロ！でも適度に休んでね。ねこちゃんがもっと元気にさせてくれるかも！</p>

    <% elsif @neko.question == "22122" %>
    <h6>20%</h6>
    <p>ストレス度は軽め！</p>
    <p>自分の調子は自分でとるプロ！でも適度に休んでね。ねこちゃんがもっと元気にさせてくれるかも！</p>

    <% elsif @neko.question == "22212" %>
    <h6>20%</h6>
    <p>ストレス度は軽め！</p>
    <p>自分の調子は自分でとるプロ！でも適度に休んでね。ねこちゃんがもっと元気にさせてくれるかも！</p>

    <% elsif @neko.question == "22221" %>
    <h6>20%</h6>
    <p>ストレス度は軽め！</p>
    <p>自分の調子は自分でとるプロ！でも適度に休んでね。ねこちゃんがもっと元気にさせてくれるかも！</p>


    <% elsif @neko.question == "22222" %>
    <h6>0%</h6>
    <p>ストレス度0！</p>
    <p>ストレス状態に問題なし。ストレス付き合いのプロだね！ねこちゃんに褒められてもっと元気になっちゃおう。</p>


    <footer>
    <p>Copyright © GeekSalon All Rights Reserved.</p>
  </footer>
    <% end %>


</div>