// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header-nav {
    background-color: #F2F1ED;
    position: sticky;
    height: 70px;
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  nav {
    margin-right: 10%;
  }
  
  a {
    color: #989797;
    text-decoration: none;
  }
  
  a:hover {
    color: #1D1D1D;
  }
  


  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shizuru&display=swap');
 first-block  {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Shizuru', cursive;
 }



@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+Antique:wght@700&display=swap');
 header {
  font-family: 'Montserrat', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+Antique&display=swap');
  body {font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;   
  }
  
footer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 50px;
    background-color: #000;
    font-size: 15px;
    color: #fff;
  }
  
.home-container{
  padding: 30px;
}

.kotoba{
margin: 200px
}

.ul{
  margin: 200px
  }